.htmlConteiner {
  width: 80vw;
  margin: 0 auto;
}
.activ {
  background-color: black;
  color: white;
}
.activ button {
  background-color: black;
  color: white;
  border: 2px solid white;
}
.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid black;
  height: 100%;
}
h3 {
  text-align: center;
}
